*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.box_1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../Img/bg1.png)center center no-repeat;
    background-size: cover;
    
}

.box_2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.box_2__items{
    width: 2%;
    height: 100%;
    background: url(../img/bg2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: opacity 1.7s ease-in;
}

.box_2__items:hover{
    transition: opacity 0s;
    opacity: 0;

}